@import "tailwindcss";

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden;
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }
}

@layer utilities {
  .entrance-anim {
    animation: entrance 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-fill-mode: both;
  }
}

@keyframes entrance {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
